@model MEMIS.Models.ActivityAssessDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Edit</h1>

<h4>Department Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="intIntervention" class="control-label"></label>
                @Html.DropDownList("intIntervention", new SelectList(ViewBag.StrategicIntervention, "intIntervention", "InterventionName"), new { @class = "form-control form-select", @required = "required" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intAction" class="control-label"></label>
                @Html.DropDownList("StrategicObjective", new SelectList(ViewBag.StrategicAction, "intAction", "actionName"), new { @class = "form-control form-select", @required = "required" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intActivity" class="control-label"></label>
                @Html.DropDownList("StrategicObjective", new SelectList(ViewBag.Activity, "intActivity", "activityName"), new { @class = "form-control form-select", @required = "required" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="outputIndicator" class="control-label"></label>
                <input asp-for="outputIndicator" class="form-control" />
                <span asp-validation-for="outputIndicator" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="baseline" class="control-label"></label>
                <input asp-for="baseline" class="form-control" type="number" />
                <span asp-validation-for="baseline" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="budgetCode" class="control-label"></label>
                <input asp-for="budgetCode" class="form-control" type="number" />
                <span asp-validation-for="budgetCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="comparativeTarget" class="control-label"></label>
                <input asp-for="comparativeTarget" class="form-control" type="number" />
                <span asp-validation-for="comparativeTarget" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="justification" class="control-label"></label>
                <input asp-for="justification" class="form-control" />
                <span asp-validation-for="justification" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="budgetAmount" class="control-label"></label>
                <input asp-for="budgetAmount" class="form-control" type="number" />
                <span asp-validation-for="budgetAmount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Quarter" class="control-label"></label>
                <input asp-for="Quarter" class="form-control" />
                <span asp-validation-for="Quarter" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="QTarget" class="control-label"></label>
                <input asp-for="QTarget" class="form-control" type="number" />
                <span asp-validation-for="QTarget" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="IdentifiedRisks" class="control-label"></label>
                <input asp-for="IdentifiedRisks" class="form-control" type="text" />
                <span asp-validation-for="IdentifiedRisks" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="QBudget" class="control-label"></label>
                <input asp-for="QBudget" class="form-control" type="number" />
                <span asp-validation-for="QBudget" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div> 
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
