################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MEMIS/.vs
/MEMIS/bin
/MEMIS/obj
/MEMIS/node_modules
