################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MEMIS/.vs
/MEMIS/bin
/MEMIS/obj
/MEMIS/node_modules
/Requirement Doc
/Theme/MVC
/MEMIS/appsettings.json
/MEMIS/Migrations/20240810041234_AssessmentRegionChanges.cs
