
@model MEMIS.Models.RenewalDto
@{
  ViewData["Title"] = "Create";
  //Layout = "~/Views/Shared/_GISLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h5>Renewal</h5>
<hr />
<div></div>
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPS" class="control-label"></label>
                <input asp-for="GPS" class="form-control" />
                <span asp-validation-for="GPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intRegion" class="control-label"></label>
                <select asp-for="intRegion" class="form-control" asp-items="ViewBag.intRegion"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
            </div> 
            <div class="form-group">
                <label asp-for="FacilityName" class="control-label"></label>
                <input asp-for="FacilityName" class="form-control" />
                <span asp-validation-for="FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityStatus" class="control-label"></label>
                <select asp-for="FacilityStatus" class="form-control" asp-items="ViewBag.FacilityStatus"></select>
                <span asp-validation-for="FacilityStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityPersonType" class="control-label"></label>
                <select asp-for="FacilityPersonType" class="form-control" asp-items="ViewBag.PersonFoundatFacility"></select>
                <span asp-validation-for="FacilityPersonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualifications" class="control-label"></label>
                <input asp-for="Qualifications" class="form-control" />
                <span asp-validation-for="Qualifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryOfpremises" class="control-label"></label>
                <select asp-for="CategoryOfpremises" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="CategoryOfpremises" class="text-danger"></span>
            </div>
           

            <div class="form-group">
                <label asp-for="LicenseStatus" class="control-label"></label>
                <select asp-for="LicenseStatus" class="form-control" asp-items="ViewBag.LicenseStatus"></select>
                <span asp-validation-for="LicenseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryStatus" class="control-label"></label>
                <select asp-for="CategoryStatus" class="form-control" asp-items="ViewBag.CategoryofDrugs"></select>
                <span asp-validation-for="CategoryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremisesCondition" class="control-label"></label>
                <select asp-for="PremisesCondition" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="PremisesCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordKeeping" class="control-label"></label>
                <select asp-for="RecordKeeping" class="form-control" asp-items="ViewBag.RecordKeeping"></select>
                <span asp-validation-for="RecordKeeping" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="LicAction" class="control-label"></label>
                <select asp-for="LicAction" class="form-control" asp-items="ViewBag.LicenseRecommendation"></select>
                <span asp-validation-for="LicAction" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
//await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
