<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMIS::@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MEMIS.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <section class="login-logo"><img src="~/lib/images/logo.png" /></section>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
               @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <div class="sidebar" id="side-nav">
            <div class="header-box px-2 pt-3 pb-4">
                @*<h1 class="fs-4"><span class="bg-white rounded shadow px-2">NDA </span></h1>*@
                <button class="btn btn-close d-md-none d-block px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
                <ul class="list-unstyled px-2">
                    <li><a href="/login/Home" class="text-decoration-none px-2  py-2 d-block"><i class="fa  fa-home mr-2" aria-hidden="true"></i>Home</a></li>
                   @* <li><a href="/departments" class="text-decoration-none px-2  py-2 d-block">Departments</a></li>
                    <li><a href="/region" class="text-decoration-none px-2  py-2 d-block">Regions</a></li>
                    <li><a href="/ndp" class="text-decoration-none px-2  py-2 d-block">NDP III</a></li>*@
                    <li><a href="/PreInspections" class="text-decoration-none px-2  py-2 d-block"> Preinspection [New Drug Shop]</a></li>
                    <li><a href="/PreInspections/Verify" class="text-decoration-none px-2  py-2 d-block"> Preinspection [New Drug Shop] Verification</a></li>
                    <li><a href="/PreInspectionsPharma" class="text-decoration-none px-2  py-2 d-block"> Preinspection [New Pharmacy]</a></li>
                    <li><a href="/PreInspectionsPharma/HeadVerify" class="text-decoration-none px-2  py-2 d-block"> Preinspection [New Pharmacy] Head of Region</a></li>
                    <li><a href="/PreInspectionsPharma/DirVerify" class="text-decoration-none px-2  py-2 d-block"> Preinspection [New Pharmacy] Director Approval</a></li>
                    <li><a href="/PreinspectionNewManUnit" class="text-decoration-none px-2  py-2 d-block">Preinspection [New Manufacturing Unit]</a></li>
                    <li><a href="/RelocationPharma" class="text-decoration-none px-2  py-2 d-block"> Relocation [Pharmacy]</a></li>
                    <li><a href="/RelocationPharma/HeadVerify" class="text-decoration-none px-2  py-2 d-block"> Relocation [Pharmacy] Head of Region</a></li>
                    <li><a href="/RelocationPharma/DirVerify" class="text-decoration-none px-2  py-2 d-block"> Relocation [Pharmacy] Director Approval</a></li>
                    <li><a href="/RelocationDrugShop" class="text-decoration-none px-2  py-2 d-block"> Relocation [Drug Shop]</a></li>
                    <li><a href="/RelocationDrugShop/HeadVerify" class="text-decoration-none px-2  py-2 d-block"> Relocation [Drug Shop] Head of Region</a></li>
                    <li><a href="/RelocationDrugShop/DirVerify" class="text-decoration-none px-2  py-2 d-block"> Relocation [Drug Shop] Director Approval</a></li>
                    <li><a href="/ComplianceSupportSupervision" class="text-decoration-none px-2  py-2 d-block">Compliance Support Supervision </a></li>
                    <li><a href="/renewal" class="text-decoration-none px-2  py-2 d-block">Renewal</a></li>
                    <li><a href="/enforcement" class="text-decoration-none px-2  py-2 d-block">Enforcement</a></li>
                    <li><a href="/gpp" class="text-decoration-none px-2  py-2 d-block">GPP</a></li>
                    <li><a href="/gdp" class="text-decoration-none px-2  py-2 d-block">GDP </a></li>
                    <li><a href="/ComplianceSupportSupervision" class="text-decoration-none px-2  py-2 d-block">Herbal Inspection </a></li>
                    <li><a href="/ComplianceSupportSupervision" class="text-decoration-none px-2  py-2 d-block">Post Market Surveillance Activity </a></li>
                    <li><a href="/ComplianceSupportSupervision" class="text-decoration-none px-2  py-2 d-block">Radio Talk Shows </a></li>
                    <li><a href="/ComplianceSupportSupervision" class="text-decoration-none px-2  py-2 d-block">Sensitization Meetings</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="content" style="margin-left:20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MEMIS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <script>
        $(".sidebar ul li").on('click',function(){
            $(".sidebar ul li:active").removeClass('active');
            $(this).addClass('active');
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
