<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMIS::@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MEMIS.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <section class="login-logo"><img src="~/lib/images/logo.png" /></section>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                @User.Identity.Name
               @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <div class="sidebar" id="side-nav">
            <div class="header-box px-2 pt-3 pb-4">
                @*<h1 class="fs-4"><span class="bg-white rounded shadow px-2">NDA </span></h1>*@
                <button class="btn btn-close d-md-none d-block px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
                <ul class="list-unstyled px-2">
                    <li><a href="/login/Home" class="text-decoration-none px-2  py-2 d-block"><i class="fa  fa-home mr-2" aria-hidden="true"></i>Home</a></li>
                   @* <li><a href="/departments" class="text-decoration-none px-2  py-2 d-block">Departments</a></li>
                    <li><a href="/region" class="text-decoration-none px-2  py-2 d-block">Regions</a></li>
                    <li><a href="/ndp" class="text-decoration-none px-2  py-2 d-block">NDP III</a></li>*@
                    @if (User.IsInRole("M&E Coordinator") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/ActivityAssessment/Index" class="text-decoration-none px-2  py-2 d-block"> Department Assessment</a></li>
                    }
                    @if (User.IsInRole("Head of Department") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/ActivityAssessment/HodVerification" class="text-decoration-none px-2  py-2 d-block"> Assessment Verification by HOD</a></li>
                    }
                    @if (User.IsInRole("Director") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/ActivityAssessment/VerificationDir" class="text-decoration-none px-2  py-2 d-block"> Assessment Verification by Director</a></li>
                    }
                    @if (User.IsInRole("M&E Officer") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/ActivityAssessment/Consolidation" class="text-decoration-none px-2  py-2 d-block"> Consolidation by M&E Officer</a></li>
                    }
                    @if (User.IsInRole("Head BPD") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/ActivityAssessment/VerificationBpd" class="text-decoration-none px-2  py-2 d-block"> Head BPD Verification</a></li>
                    }
                    @if (User.IsInRole("Director (DCS)") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/ActivityAssessment/Approval" class="text-decoration-none px-2  py-2 d-block"> Approval by Director (DCS)</a></li>
                    }
                    @if (User.IsInRole("M&E Officer") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTMasters" class="text-decoration-none px-2  py-2 d-block">SDT Master</a></li>
                    }
                    @if (User.IsInRole("M&E Coordinator") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTAssessments" class="text-decoration-none px-2  py-2 d-block"> SDT Assessment</a></li>
                    }
                    @if (User.IsInRole("Head of Department") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTAssessments/VerifyByHOD" class="text-decoration-none px-2  py-2 d-block"> HOD Verification</a></li>
                    }
                    @if (User.IsInRole("Director") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTAssessments/VerifyByDirector" class="text-decoration-none px-2  py-2 d-block"> Director Verification</a></li>
                    }
                    @if (User.IsInRole("M&E Officer") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTAssessments/VerifyByMEOfficer" class="text-decoration-none px-2  py-2 d-block"> M & E Officer Verification</a></li>
                    }
                    @if (User.IsInRole("Head BPD") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTAssessments/VerifyByHBPD" class="text-decoration-none px-2  py-2 d-block"> Head BPD Verification</a></li>
                    }
                    @if (User.IsInRole("Director (DCS)") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/SDTAssessments/VerifyByDDCS" class="text-decoration-none px-2  py-2 d-block"> Director DCS Verification</a></li>
                    }
                    @if (User.IsInRole("M&E Officer") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIMaster" class="text-decoration-none px-2  py-2 d-block"> KPI M & E Framework</a></li>
                    }
                    @if (User.IsInRole("M&E Coordinator") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIAssessment" class="text-decoration-none px-2  py-2 d-block"> KPI Assessment</a></li>
                    }
                    @if (User.IsInRole("Head of Department") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIAssessment/VerifyByHOD" class="text-decoration-none px-2  py-2 d-block"> HOD Verification</a></li>
                    }
                    @if (User.IsInRole("Director") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIAssessment/VerifyByDirector" class="text-decoration-none px-2  py-2 d-block"> Director Verification</a></li>
                    }
                    @if (User.IsInRole("M&E Officer") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIAssessment/VerifyByMEOfficer" class="text-decoration-none px-2  py-2 d-block"> M & E Officer Verification</a></li>
                    }
                    @if (User.IsInRole("Head BPD") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIAssessment/VerifyByHBPD" class="text-decoration-none px-2  py-2 d-block"> Head BPD Verification</a></li>
                    }
                    @if (User.IsInRole("Director (DCS)") || User.IsInRole("SuperAdmin"))
                    {
                        <li><a href="/KPIAssessment/VerifyByDDCS" class="text-decoration-none px-2  py-2 d-block"> Director DCS Verification</a></li>
                    }

                </ul>
            </div>
        </div>
        <div class="content" style="margin-left:20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MEMIS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        $(".sidebar ul li").on('click',function(){
            $(".sidebar ul li:active").removeClass('active');
            $(this).addClass('active');
        })
    </script>
    @* <script type="text/javascript">
        var js = jQuery.noConflict(true);
        js(document).ready(function () {
            js('#datatable').DataTable({

            });
        });
    </script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
