<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMIS::@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MEMIS.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <section class="login-logo"><img src="~/lib/images/logo.png" /></section>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
               @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <div class="sidebar" id="side-nav">
            <div class="header-box px-2 pt-3 pb-4">
                @*<h1 class="fs-4"><span class="bg-white rounded shadow px-2">NDA </span></h1>*@
                <button class="btn btn-close d-md-none d-block px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
                <ul class="list-unstyled px-2">
                    <li><a href="/login/Home" class="text-decoration-none px-2  py-2 d-block"><i class="fa  fa-home mr-2" aria-hidden="true"></i>Home</a></li>
                     
                    <li><a href="/ndp" class="text-decoration-none px-2  py-2 d-block">NDP</a></li>
                    <li><a href="/ProgramImplementationPlans" class="text-decoration-none px-2  py-2 d-block"> Programme Implementation Plan</a></li>
                    <li><a href="/FocusAreas" class="text-decoration-none px-2  py-2 d-block"> Focus Area</a></li>
                    <li><a href="/StrategicObjectives" class="text-decoration-none px-2  py-2 d-block"> Strategic Objective</a></li>
                    <li><a href="/StrategicInterventions" class="text-decoration-none px-2  py-2 d-block"> Strategic Intervention</a></li>
                    <li><a href="/StrategicActions" class="text-decoration-none px-2  py-2 d-block"> Strategic Action</a></li>
                    <li><a href="/activities" class="text-decoration-none px-2  py-2 d-block"> Activity</a></li>
                    <li><a href="/AnnualImplemtationPlans" class="text-decoration-none px-2  py-2 d-block"> Annualised Implementation Plan</a></li>
                    <li><a href="/deptplan" class="text-decoration-none px-2  py-2 d-block"> Department Work Plan Setting</a></li>
                    <li><a href="/deptplan/Verify" class="text-decoration-none px-2  py-2 d-block"> Department Work Plan Verification</a></li>
                    <li><a href="/deptplan/DirVerify" class="text-decoration-none px-2  py-2 d-block"> Department Work Plan Director Verification </a></li>
                    <li><a href="/deptplan/Consolidation" class="text-decoration-none px-2  py-2 d-block"> Work Plan Consolidation [M&E Coordinator]</a></li>
                    <li><a href="/deptplan/HeadBpdVerify" class="text-decoration-none px-2  py-2 d-block"> Work Plan Verification [Head BPD]</a></li>
                    <li><a href="/deptplan/DirAppr" class="text-decoration-none px-2  py-2 d-block"> Work Plan Approval [Director DCS]</a></li>
                    <li><a href="/WorkPlanSettingsRegion" class="text-decoration-none px-2  py-2 d-block"> Work Plan Setting [Region]</a></li>
                    <li><a href="/WorkPlanSettingsRegion/Verification" class="text-decoration-none px-2  py-2 d-block"> Work Plan Verification [Head of Region]</a></li>
                    <li><a href="/WorkPlanSettingsRegion/Consolidation" class="text-decoration-none px-2  py-2 d-block"> Work Plan Consolidation [Coordinator]</a></li>
                </ul>
            </div>
        </div>
        <div class="content" style="margin-left:20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MEMIS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <script>
        $(".sidebar ul li").on('click',function(){
            $(".sidebar ul li:active").removeClass('active');
            $(this).addClass('active');
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
