@model MEMIS.Data.StrategicAction

@{
  ViewData["Title"] = "Edit";
  //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Edit</h1>

<h4>Strategic Action</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="intAction" />
            <div class="form-group">
                <label asp-for="actionCode" class="control-label"></label>
                <input asp-for="actionCode" class="form-control" />
                <span asp-validation-for="actionCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="actionName" class="control-label"></label>
                <input asp-for="actionName" class="form-control" />
                <span asp-validation-for="actionName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intIntervention" class="control-label"></label>
                <select asp-for="intIntervention" class="form-control" asp-items="ViewBag.intIntervention"></select>
                <span asp-validation-for="intIntervention" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
