@model MEMIS.Data.ProgramImplementationPlan

@{
  ViewData["Title"] = "Create";
  //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Create</h1>

<h4>Program Implementation Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <div class="form-group">
          <label asp-for="intObjective" class="control-label"></label>
          <select asp-for="intObjective" class="form-control form-select" asp-items="ViewBag.intObjective"></select>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="intIntervention" class="control-label"></label>
          @Html.DropDownList("intIntervention", new SelectList(ViewBag.StrategicIntervention, "intIntervention", "InterventionName"), new { @class = "form-control form-select", @required = "required", onchange = "loadStrategicActions(this.value)" })
        </div>
        <br />
        <div class="form-group">
          <label asp-for="intAction" class="control-label"></label>
          <select id="StrategicAction" asp-for="intAction" class="form-control" onchange="loadActivities(this.value)">
            <option value="">Select Strategic Action</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="intActivity" class="control-label"></label>
          <select id="Activity" asp-for="intActivity" class="form-control">
            <option value="">Select Strategic Activity</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="Output" class="control-label"></label>
          <input asp-for="Output" class="form-control" />
          <span asp-validation-for="Output" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="OutputTarget" class="control-label"></label>
          <input asp-for="OutputTarget" class="form-control" />
          <span asp-validation-for="OutputTarget" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="FY1" class="control-label"></label>
          <input asp-for="FY1" class="form-control" />
          <span asp-validation-for="FY1" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="FY2" class="control-label"></label>
          <input asp-for="FY2" class="form-control" />
          <span asp-validation-for="FY2" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="FY3" class="control-label"></label>
          <input asp-for="FY3" class="form-control" />
          <span asp-validation-for="FY3" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="FY4" class="control-label"></label>
          <input asp-for="FY4" class="form-control" />
          <span asp-validation-for="FY4" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="FY5" class="control-label"></label>
          <input asp-for="FY5" class="form-control" />
          <span asp-validation-for="FY5" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group">
          <label asp-for="unitCost" class="control-label"></label>
          <input asp-for="unitCost" class="form-control" />
          <span asp-validation-for="unitCost" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="MeansofVerification" class="control-label"></label>
          <input asp-for="MeansofVerification" class="form-control" />
          <span asp-validation-for="MeansofVerification" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <label asp-for="ResponsibleParty" class="control-label"></label>
          <input asp-for="ResponsibleParty" class="form-control" />
          <span asp-validation-for="ResponsibleParty" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
      </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
<script>
    function loadStrategicActions(interventionId) {
        if (interventionId) {
            $.getJSON('@Url.Action("GetStrategicActions", "ActivityAsses")', { interventionId: interventionId }, function (data) {
                var $actionDropdown = $('#StrategicAction');
                $actionDropdown.empty();
                $actionDropdown.append('<option value="">Select Strategic Action</option>');
                $.each(data, function (index, item) {
                    $actionDropdown.append('<option value="' + item.intAction + '">' + item.actionName + '</option>');
                });
            });
        }
    }

    function loadActivities(actionId) {
        if (actionId) {
            $.getJSON('@Url.Action("GetActivities", "ActivityAsses")', { actionId: actionId }, function (data) {
                var $activityDropdown = $('#Activity');
                $activityDropdown.empty();
                $activityDropdown.append('<option value="">Select Activity</option>');
                $.each(data, function (index, item) {
                    $activityDropdown.append('<option value="' + item.intActivity + '">' + item.activityName + '</option>');
                });
            });
        }
    }
</script>
