@model MEMIS.Data.ProgramImplementationPlan

@{
  ViewData["Title"] = "Create";
  //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Create</h1>

<h4>Program Implementation Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Output" class="control-label"></label>
                <input asp-for="Output" class="form-control" />
                <span asp-validation-for="Output" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ResponsibleParty" class="control-label"></label>
                <input asp-for="ResponsibleParty" class="form-control" />
                <span asp-validation-for="ResponsibleParty" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DateofAction" class="control-label"></label>
                <input asp-for="DateofAction" class="form-control" />
                <span asp-validation-for="DateofAction" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Baseline" class="control-label"></label>
                <input asp-for="Baseline" class="form-control" />
                <span asp-validation-for="Baseline" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FY1" class="control-label"></label>
                <input asp-for="FY1" class="form-control" />
                <span asp-validation-for="FY1" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FY2" class="control-label"></label>
                <input asp-for="FY2" class="form-control" />
                <span asp-validation-for="FY2" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FY3" class="control-label"></label>
                <input asp-for="FY3" class="form-control" />
                <span asp-validation-for="FY3" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FY4" class="control-label"></label>
                <input asp-for="FY4" class="form-control" />
                <span asp-validation-for="FY4" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FY5" class="control-label"></label>
                <input asp-for="FY5" class="form-control" />
                <span asp-validation-for="FY5" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
