@model MEMIS.Models.ActivityAssessmentDto


@{
    ViewData["Title"] = "Set Regional Target";
    Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Set Regional Target</h1>

<hr />

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Submission Status</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Submitted successfully!
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmSubmit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditRegionalTarget" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="intRegionAssess" />
            <input type="hidden" asp-for="intAssess" />
            <div class="form-group">
                <label asp-for="budgetAmount" class="control-label"></label>
                <input asp-for="budgetAmount" class="form-control" />
                <span asp-validation-for="budgetAmount" class="text-danger"></span>
            </div>
            <div class="col">
                <div class="form-group">
                  <div class="input-group">
                    <div class="col">
                      <select id="Quarter" class="form-control" hidden asp-items="ViewBag.Quarter"></select>
                    </div>
                    <div class="col">
                      <input id="QTarget" onkeyup="setBudgetAmount()" class="form-control" hidden type="number" />
                      <span asp-validation-for="QTarget" class="text-danger"></span>
                    </div>
                    <div class="col">
                      <input onkeyup="setBudgetAmount()" id="unitCost" class="form-control" hidden type="number" />
                      <span asp-validation-for="unitCost" class="text-danger"></span>
                    </div>
                    <div class="col">
                      <input id="QBudget" class="form-control" hidden readonly type="number" />
                      <span asp-validation-for="QBudget" class="text-danger"></span>
                    </div>
                    <div class="col">
                      <input id="QActual" class="form-control" hidden type="number" />
                      <span asp-validation-for="QActual" class="text-danger"></span>
                    </div>
                    <div class="col">
                      <input id="QAmtSpent" class="form-control" hidden type="number" />
                      <span asp-validation-for="QAmtSpent" class="text-danger"></span>
                    </div>
                    <div class="col">
                      <input id="QAchievement" class="form-control" hidden type="number" />
                      <span asp-validation-for="QAchievement" class="text-danger"></span>
                    </div>
                    <div class="col">
                      <input id="QJustification" class="form-control" hidden />
                      <span asp-validation-for="QJustification" class="text-danger"></span>
                    </div>
                    @*  <div class="col-auto align-self-end">
        <button type="button" class="btn btn-outline-primary" onclick="addQuarterDetails()">
            <i class="bx bx-plus-circle"></i>
        </button>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#accordionQuarterDetailsCollapse" aria-expanded="false" aria-controls="accordionQuarterDetailsCollapse">
            <i class="bx bx-collapse-alt"></i>
        </button>
    </div> *@
                  </div>
                    <br />
                    <div id="quarterValidation" class="text-danger"></div>
                    <div class="accordion" style="width: fit-content;" id="accordionQuarterDetails">
                        <div class="card accordion-item">
                            <div id="accordionQuarterDetailsCollapse" class="accordion-collapse collapse show" data-bs-parent="#accordionQuarterDetails">
                                <div class="accordion-body">
                                    <table class="table table-striped table-bordered" id="quarterDetailsTable">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th>Id</th>
                                            <th>Quarter</th>
                                            <th>Target</th>
                                            <th>UnitCost</th>
                                            <th>Budget</th>
                                            <th>Actual</th>
                                            <th>Amt Spent</th>
                                            <th>Achievement</th>
                                            <th>Justification</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.QuaterlyPlans.Count; i++)
                                            {
                                                <tr>
                                                  <td>
                                                    @(i + 1)
                                                    <input asp-for="QuaterlyPlans[i].Id" class="form-control" hidden />
                                                    <input asp-for="QuaterlyPlans[i].DeptPlanId" class="form-control" hidden />
                                                    <input asp-for="QuaterlyPlans[i].ActivityAccessId" class="form-control" hidden />
                                                    <input asp-for="QuaterlyPlans[i].ActivityAssessmentId" class="form-control" hidden />
                                                  </td>
                                                  <td>
                                                    <select asp-for="QuaterlyPlans[i].Quarter" class="form-control custom-width" asp-items="ViewBag.Quarter" style="pointer-events: none; background-color: #e9ecef;" aria-disabled="true">
                                                    </select>
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].QTarget" style="pointer-events: none; background-color: #e9ecef;" readonly class="form-control" onchange="updateQBbudget(this)" />
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].UnitCost" style="pointer-events: none; background-color: #e9ecef;" readonly class="form-control" name="QuaterlyPlans[@i].UnitCost" />
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].QBudget" style="pointer-events: none; background-color: #e9ecef;" readonly class="form-control" name="QuaterlyPlans[@i].QBudget" />
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].QActual" class="form-control" />
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].QAmtSpent" class="form-control" />
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].QAchievement" class="form-control" />
                                                  </td>
                                                  <td>
                                                    <input asp-for="QuaterlyPlans[i].QJustification" class="form-control" />
                                                  </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input class="btn btn-primary" value="Save" type="submit" />
            </div>
            <br />
            <div>
                <button type="button" onclick="window.history.back();" class="btn btn-warning">Back to List</button>
            </div>
        </form>
    </div>
</div>

<script>
    var quarterOptions = $('#Quarter').html(); // Store the HTML content of the Quarter dropdown

    function addQuarterDetails() {
        var quarter = $('#Quarter').val();
      var target = $('#QTarget').val();
      var UnitCost = $('#UnitCost').val();
       var budget = $('#QBudget').val();
        var Actual = $('#QActual').val();
        var AmtSpent = $('#QAmtSpent').val();
        var AmtSpent = $('#QAchievement').val();
        var Justification = $('#QJustification').val();

        if (!quarter || !target || !budget) {
            $('#quarterValidation').text("All fields are required.");
            return;
        } else {
            $('#quarterValidation').text("");
        }

        var $tableBody = $('#quarterDetailsTable tbody');
        var index = $tableBody.find('tr').length;

        var options = '';
        $('#Quarter option').each(function () {
            var value = $(this).val();
            var text = $(this).text();
            var selected = value === quarter ? 'selected' : '';
            options += `<option value="${value}" ${selected}>${text}</option>`;
        });

        var row = `
                                <tr>
                                    <td>${index + 1}</td>
                                    <td>
                                        <select name="QuaterlyPlans[${index}].Quarter" class="form-control" >
                                            ${options}
                                        </select>
                                    </td>
                                    <td><input name="QuaterlyPlans[${index}].QTarget" value="${target}" c class="form-control" readonly  /></td>
                                    <td><input name="QuaterlyPlans[${index}].UnitCost" value="${UnitCost}" readonly class="form-control"  /></td>
                                    <td><input name="QuaterlyPlans[${index}].QBudget" value="${budget}" readonly class="form-control"  /></td>
                                    <td><input name="QuaterlyPlans[${index}].QActual" value="${Actual}" readonly class="form-control"  /></td>
                                    <td><input name="QuaterlyPlans[${index}].QAmtSpent" value="${AmtSpent}" readonly class="form-control"  /></td>
                                    <td><input name="QuaterlyPlans[${index}].QAchievement" value="${QAchievement}" readonly class="form-control"  /></td>
                                    <td><input name="QuaterlyPlans[${index}].QJustification" value="${Justification}" readonly class="form-control" /></td>
                                   
                                </tr>`;

        $tableBody.append(row);

        // Clear the inputs
        $('#Quarter').val('');
      $('#QTarget').val('');
      $('#UnitCost').val('');
      $('#QBudget').val('');
        $('#QActual').val('');
        $('#QAmtSpent').val('');
        $('#QAchievement').val('');
        $('#QJustification').val('');

        $('#accordionQuarterDetailsCollapse').addClass('show');
    }

    function updateQBbudget(input) {
        var $row = $(input).closest('tr');
        var qTarget = $(input).val();
        var unitCost = $('#unitCost').val();
        if (!isNaN(qTarget) && !isNaN(unitCost)) {
            var qBudget = qTarget * unitCost;
            $row.find('input[name$=".QBudget"]').val(qBudget); // Update QBudget input
        }
    }
    function setBudgetAmount() {
      var target = $('#QTarget').val();
      var UnitCost = $('#UnitCost').val();
      $('#QBudget').val(target * UnitCost);
    }
    function removeQuarterDetails(button) {
        $(button).closest('tr').remove();
        updateRowIndexes();
    }

    function updateRowIndexes() {
        $('#quarterDetailsTable tbody tr').each(function (index, row) {
            $(row).find('select, input').each(function () {
                var name = $(this).attr('name');
                if (name) {
                    var newName = name.replace(/\[\d+\]/, `[${index}]`);
                    $(this).attr('name', newName);
                }
            });
        });
    }


</script>
<style>
    .form-control[disabled] {
        background-color: #e9ecef;
        cursor: not-allowed;
    }

    .form-control[readonly]{
      cursor:not-allowed;
    }

    .custom-width {
        width: 150px; 
    }

    .disabled-select {
        pointer-events: none;
        background-color: #e9ecef;
        color: #495057;
        cursor: not-allowed;
    }
</style>
