@model MEMIS.Data.StrategicIntervention

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
}

<h1>Create</h1>

<h4>Strategic Intervention</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InterventionCode" class="control-label"></label>
                <input asp-for="InterventionCode" class="form-control" />
                <span asp-validation-for="InterventionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterventionName" class="control-label"></label>
                <input asp-for="InterventionName" class="form-control" />
                <span asp-validation-for="InterventionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intObjective" class="control-label"></label>
                <select asp-for="intObjective" class ="form-control" asp-items="ViewBag.intObjective"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
