@model MEMIS.Data.AnnualImplemtationPlan

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
}

<h1>Create</h1>

<h4>Annualised Strategic Plan Implementation Action Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="subProgram" class="control-label"></label>
                <input asp-for="subProgram" class="form-control" />
                <span asp-validation-for="subProgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intFocus" class="control-label"></label>
                <select asp-for="intFocus" class ="form-control" asp-items="ViewBag.intFocus"></select>
            </div>
            <div class="form-group">
                <label asp-for="intObjective" class="control-label"></label>
                <select asp-for="intObjective" class ="form-control" asp-items="ViewBag.intObjective"></select>
            </div>
            <div class="form-group">
                <label asp-for="intIntervention" class="control-label"></label>
                <select asp-for="intIntervention" class ="form-control" asp-items="ViewBag.intIntervention"></select>
            </div>
            <div class="form-group">
                <label asp-for="intAction" class="control-label"></label>
                <select asp-for="intAction" class ="form-control" asp-items="ViewBag.intAction"></select>
            </div>
            <div class="form-group">
                <label asp-for="intActivity" class="control-label"></label>
                <select asp-for="intActivity" class ="form-control" asp-items="ViewBag.intActivity"></select>
            </div>
            <div class="form-group">
                <label asp-for="baseline" class="control-label"></label>
                <input asp-for="baseline" class="form-control" />
                <span asp-validation-for="baseline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="annualTarget" class="control-label"></label>
                <input asp-for="annualTarget" class="form-control" />
                <span asp-validation-for="annualTarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meansofVerification" class="control-label"></label>
                <input asp-for="meansofVerification" class="form-control" />
                <span asp-validation-for="meansofVerification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Risk" class="control-label"></label>
                <input asp-for="Risk" class="form-control" />
                <span asp-validation-for="Risk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intDept" class="control-label"></label>
                <select asp-for="intDept" class ="form-control" asp-items="ViewBag.intDept"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
