@model MEMIS.Models.RelocationDrugShopDto

@{
  ViewData["Title"] = "Create";
  //Layout = "~/Views/Shared/_GISLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h5>Relocation Drug Shop</h5>
<hr />
<div></div>
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Applicant" class="control-label">Applicant Name</label>
                <input asp-for="Applicant" class="form-control" />
                <span asp-validation-for="Applicant" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Business" class="control-label"></label>
                <input asp-for="Business" class="form-control" />
                <span asp-validation-for="Business" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CRoad" class="control-label">Current Road</label>
                <input asp-for="CRoad" class="form-control" />
                <span asp-validation-for="CRoad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CZone" class="control-label">Current Zone</label>
                <input asp-for="CZone" class="form-control" />
                <span asp-validation-for="CZone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CVillage" class="control-label">Current Village</label>
                <input asp-for="CVillage" class="form-control" />
                <span asp-validation-for="CVillage" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label">District ID</label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CCountry" class="control-label">Current Country</label>
                <input asp-for="CCountry" class="form-control" />
                <span asp-validation-for="CCountry" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CTelephone" class="control-label">Current Telephone</label>
                <input asp-for="CTelephone" class="form-control" />
                <span asp-validation-for="CTelephone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CEmail" class="control-label">Current Email</label>
                <input asp-for="CEmail" class="form-control" />
                <span asp-validation-for="CEmail" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CGPS" class="control-label"></label>
                <input asp-for="CGPS" class="form-control" />
                <span asp-validation-for="CGPS" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PRoad" class="control-label">Past Road</label>
                <input asp-for="PRoad" class="form-control" />
                <span asp-validation-for="PRoad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PZone" class="control-label">Past Zone</label>
                <input asp-for="PZone" class="form-control" />
                <span asp-validation-for="PZone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PVillage" class="control-label">Past Village</label>
                <input asp-for="PVillage" class="form-control" />
                <span asp-validation-for="PVillage" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label">District ID</label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PCountry" class="control-label">Past Country</label>
                <input asp-for="PCountry" class="form-control" />
                <span asp-validation-for="PCountry" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PTelephone" class="control-label">Past Telephone</label>
                <input asp-for="PTelephone" class="form-control" />
                <span asp-validation-for="PTelephone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PEmail" class="control-label">Past Email</label>
                <input asp-for="PEmail" class="form-control" />
                <span asp-validation-for="PEmail" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PGPS" class="control-label"></label>
                <input asp-for="PGPS" class="form-control" />
                <span asp-validation-for="PGPS" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ProductClassification" class="control-label"></label>
                <select asp-for="ProductClassification" class="form-control" asp-items="ViewBag.ProductClassification"></select>
                <span asp-validation-for="ProductClassification" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CategoryOfpremises" class="control-label"></label>
                <select asp-for="CategoryOfpremises" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="CategoryOfpremises" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="comments" class="control-label"></label>
                <input asp-for="comments" class="form-control" />
                <span asp-validation-for="comments" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" hidden>
                <label asp-for="ApprovalStatusInspector" class="control-label"></label>
                <input asp-for="ApprovalStatusInspector" class="form-control" />
                <span asp-validation-for="ApprovalStatusInspector" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
//await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
