@model MEMIS.Models.RelocationDrugShopDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_GISLayout.cshtml";
}

<h4>Relocation Drug Shop</h4>
<hr />
<div class="row">

    <div class="col-md-8">
        <form asp-action="VerifyStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" readonly>
                        <label asp-for="InspectionDate" class="control-label"></label>
                        <input asp-for="InspectionDate" class="form-control" />
                        <span asp-validation-for="InspectionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="Applicant" class="control-label"></label>
                        <input asp-for="Applicant" class="form-control" />
                        <span asp-validation-for="Applicant" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="Business" class="control-label"></label>
                        <input asp-for="Business" class="form-control" />
                        <span asp-validation-for="Business" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CRoad" class="control-label"></label>
                        <input asp-for="CRoad" class="form-control" />
                        <span asp-validation-for="CRoad" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CZone" class="control-label"></label>
                        <input asp-for="CZone" class="form-control" />
                        <span asp-validation-for="CZone" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CVillage" class="control-label"></label>
                        <input asp-for="CVillage" class="form-control" />
                        <span asp-validation-for="CVillage" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="DistrictId" class="control-label"></label>
                        <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CCountry" class="control-label"></label>
                        <input asp-for="CCountry" class="form-control" />
                        <span asp-validation-for="CCountry" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CTelephone" class="control-label"></label>
                        <input asp-for="CTelephone" class="form-control" />
                        <span asp-validation-for="CTelephone" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CEmail" class="control-label"></label>
                        <input asp-for="CEmail" class="form-control" />
                        <span asp-validation-for="CEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="CGPS" class="control-label"></label>
                        <input asp-for="CGPS" class="form-control" />
                        <span asp-validation-for="CGPS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" readonly>
                        <label asp-for="PRoad" class="control-label"></label>
                        <input asp-for="PRoad" class="form-control" />
                        <span asp-validation-for="PRoad" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="PZone" class="control-label"></label>
                        <input asp-for="PZone" class="form-control" />
                        <span asp-validation-for="PZone" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="PVillage" class="control-label"></label>
                        <input asp-for="PVillage" class="form-control" />
                        <span asp-validation-for="PVillage" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group" readonly>
                        <label asp-for="PCountry" class="control-label"></label>
                        <input asp-for="PCountry" class="form-control" />
                        <span asp-validation-for="PCountry" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="PTelephone" class="control-label"></label>
                        <input asp-for="PTelephone" class="form-control" />
                        <span asp-validation-for="PTelephone" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="PEmail" class="control-label"></label>
                        <input asp-for="PEmail" class="form-control" />
                        <span asp-validation-for="PEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="PGPS" class="control-label"></label>
                        <input asp-for="PGPS" class="form-control" />
                        <span asp-validation-for="PGPS" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly>
                        <label asp-for="ProductClassification" class="control-label"></label>
                        <select asp-for="ProductClassification" class="form-control" asp-items="ViewBag.ProductClassification"></select>
                        <span asp-validation-for="ProductClassification" class="text-danger"></span>
                    </div>
                   
                    
                </div>
                </div>
                
                <div class="form-group">
                <label asp-for="HeadInspectorcomments" class="control-label"></label>
                <textarea asp-for="HeadInspectorcomments" class="form-control" style="height:100px"></textarea>
                <span asp-validation-for="HeadInspectorcomments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApprovalStatusInspector" class="control-label"></label>
                    <select asp-for="ApprovalStatusInspector" class="form-control" asp-items="ViewBag.Approval"></select>
                    <span asp-validation-for="ApprovalStatusInspector" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
